@import './base.css';
.loader {
    margin: auto;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-active {
    color: blue !important;
}

.bg-active {
    background-color: blue !important;
}

header {
    margin-bottom: 120px;
}

.show {
    display: block !important;
}
.bg-green-200 {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(187 247 208 / var(--tw-bg-opacity)) !important;
}
